.App {
  text-align: center;
}
h2{
  color: rgb(0, 0, 0);
}
.input{
  margin-bottom: 30px;
  color: whitesmoke;
}
.todo_item{
  margin-left: 20%;
  padding-right: 30px;
  min-width: 30%;
  max-width: 57%;
  background-color: rgb(229, 232, 248);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.buttons{
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
  width: 10rem;
}
